<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Gitpub</h1>
    <h2>List Of Drinks</h2>
    <ul>
       <% drinks.forEach((drinks, index) => { %>
        <a href="/drinks/<%= index %>"><li><%= drinks.name.charAt(0).toUpperCase() + drinks.name.slice(1) %></li></a> 
        <% }) %>
    </ul>
    <h2>List Of Food</h2>
    <ul>
        <% food.forEach((food, index) => { %>
            <a href="/food/<%= index %>"><li><%= food.name.charAt(0).toUpperCase() + food.name.slice(1) %></li></a> 
            <% }) %>
    </ul>
        <style>
            body{
                background-color: rgb(251, 188, 70);
                color: rgb(18, 255, 176)
            }
        </style>
    
</body>
</html>